<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="top">
        <h1>Welcome back {admin-name}</h1>
    </div>

<div class="past-scores">
    <h3>Check the past scores here</h3>
    <div class="card-deck">
        <div class="card">
          <center><h4>{quiz-number}</h4></center>
          <div class="card-body">
            <h5 class="card-title">{student-name}</h5>
            <p class="card-text">{student-score}</p>
            <p class="card-text"><button type="button" class="btn btn-primary">{pass/fail}</button></p>
          </div>
        </div>
        <div class="card">
            <center><h4>{quiz-number}</h4></center>
            <div class="card-body">
              <h5 class="card-title">{student-name}</h5>
              <p class="card-text">{student-score}</p>
              <p class="card-text"><button type="button" class="btn btn-primary">{pass/fail}</button></p>
            </div>
          </div>
          <div class="card">
            <center><h4>{quiz-number}</h4></center>
            <div class="card-body">
              <h5 class="card-title">{student-name}</h5>
              <p class="card-text">{student-score}</p>
              <p class="card-text"><button type="button" class="btn btn-primary">{pass/fail}</button></p>
            </div>
          </div>
          <div class="card">
            <center><h4>{quiz-number}</h4></center>
            <div class="card-body">
              <h5 class="card-title">{student-name}</h5>
              <p class="card-text">{student-score}</p>
              <p class="card-text"><button type="button" class="btn btn-primary">{pass/fail}</button></p>
            </div>
          </div>
          <div class="card">
            <center><h4>{quiz-number}</h4></center>
            <div class="card-body">
              <h5 class="card-title">{student-name}</h5>
              <p class="card-text">{student-score}</p>
              <p class="card-text"><button type="button" class="btn btn-primary">{pass/fail}</button></p>
            </div>
          </div>
          </div>
</div>
</body>
</html>