<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../static/CSS/mcq.css">
    <script src="mcq.js"></script>
</head>
<body>
    <script type="text/javascript">

        function fun()
        {
            var a = document.querySelector('input[name="answer"]:checked').value;
    
            document.getElementById("next").href="/quiz?option="+a;
            console.log(a)
        }
       
        function fun_1()
        {
            var a = document.querySelector('input[name="radio"]:checked').value;
            document.getElementById("submit").href="/submit?option="+a;
            console.log(a)
        }
        
    </script>
    <div class="main-div">
        <div class="outer-div">
            <div class="timer" id="timer">20</div>
        
        <div class="inner-div">
            
            <h3 class="question">Question</h3>
            <ul>
                <li>
                    <input type="radio" name="answer" id="ans1" class="answer">
                    <label for="ans1" id="option1">Option1</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="ans2" class="answer">
                    <label for="ans2" id="option2">Option2</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="ans3" class="answer">
                    <label for="ans3" id="option3">Option3</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="ans4" class="answer">
                    <label for="ans4" id="option4">Option4</label>
                </li>
            </ul>
            <div class="buttons">
                <!-- <button id="next" onclick="fun()">Next</button>
                <button id="submit" onclick="fun_2()">Submit</button> -->
                <a href="/quiz" id="next" class="submitBtn" type="button" onclick="fun()">Next</a>
                <a href="/submit" id="submit" type="button" class="submitBtn" onclick="fun_2()">Submit</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>