<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
</head>
<body>
    <script>
        let a = '{score}'
        if (a>3){
            document.getElementById("score").innerHTML("pass")
        }
        else{
            document.getElementById("score").innerHTML("fail")
        
        }
    </script>
    <div class="scores">your score {score}</div>
    <div id="score"></div>
</body>
</html>